{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'clasification/css/style.css' %} ">
    <link rel="stylesheet" href="{% static 'clasification/css/style_index.css' %} ">
    <link rel="stylesheet" href="{% static 'clasification/css/bootstrap.css' %} ">
    <title>Document</title>
    {% block script %}
    
    
    {% endblock script %}

</head>
<body style="background-color: #393E46;">
{% block body %}

{% endblock body %}

</body>
</html>