*{
    margin: 0px;
    padding: 0px;
}

.container-main {

    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
    height: 100vh;
    background-image: url("./brain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .child {
    width: 250px;
    height: 250px;
    border-radius: 10%;
    background-color: #00ADB5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    cursor: pointer;
  }

  .text-show{
    text-align: center;
    color: #EEEEEE;;
    font-size: 30px;
    font-weight: 1000;
    
  }

  a{
    text-decoration: none;
  }
  ul {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    direction: rtl;
    right: 5px;
    top: 20px;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }